html {
    background: #e3e3e3;
}
body {
    font-family: monospace;
    margin: 45px;
    padding: 45px;
    color: darkslategray;
    border-top: 8px solid darkslategrey;
    background: #fff;
}

h1 {
    font-size: 4ems;
    margin: 0;
}

h3 {
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    line-height: 1.5em;
}

#blog {
    border-top: 1px dotted #ccc;

}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

a[href$=".html"] {
    color: crimson;
}

.para {
    position: relative;
    left: 15px;
}